<div class="mb-2 mt-2 flex-1">
  <div class="event relative flex flex-column">
    <div class="flex-1 text-center">
      {{ event.date | date : "short" }}
    </div>
    <div class="flex flex-1 flex-row">
      <app-competitor
        [event]="event"
        [isFavorite]="true"
        class="flex-1"
        [selectDisabled]="getMyAmount(event.homeTeam) > 0"
        [selected]="awaySelected"
      >
      </app-competitor>
      <app-competitor
        [event]="event"
        class="flex-1"
        [selectDisabled]="getMyAmount(event.awayTeam) > 0"
        [selected]="homeSelected"
      >
      </app-competitor>
    </div>
  </div>
</div>
<app-event-info
  *ngIf="info$ | async as info"
  [kind]="event.kind"
  [date]="event.date"
  [awayTeam]="event.awayTeam"
  [homeTeam]="event.homeTeam"
  (hideEvent)="toggle($event)"
></app-event-info>
