.spinner {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.selected {
  background-color: #66cdaa !important;
  border-color: green !important;
}

.competitor {
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #a1a1a1;
  background-color: #f8f8f8;
}

.nameLogo {
  width: 50px;
}
