<ng-container *ngIf="view$ | async as view">
  <p-table [value]="view" [tableStyle]="{}">
    <ng-template pTemplate="header">
      <tr>
        <th>Week</th>
        <th>User</th>
        <th>Amount</th>
        <th>&nbsp;</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-outcome>
      <tr>
        <td>{{ outcome.week }}</td>
        <td>{{ outcome.user }}</td>
        <td>{{ outcome.amount }}</td>
        <td>
          <p-button
            icon="pi pi-question-circle"
            styleClass="p-button-rounded p-button-text"
            (click)="getInfo(outcome.eventId)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-container *ngIf="eventInfo$ | async"> </ng-container>
</ng-container>
