<p-dialog header="Cart" [(visible)]="visible" (onHide)="onHide($event)">
  <ng-container *ngIf="(cart | json) != '{}'; else empty">
    <div class="flex flex-column mb-2">
      <div
        *ngFor="let cartItem of cart | keyvalue"
        class="flex-1 flex flex-column mb-1 mt-1"
      >
        <div>
          Event: {{ cartItem.value.awayTeam }} @ {{ cartItem.value.homeTeam }}
        </div>
        <div>you chose {{ getTeam(cartItem.key) }}</div>
        <div>{{ cartItem.value.date | date : "short" }}</div>
        <p-inputNumber
          [min]="0"
          placeholder="amount"
          [(ngModel)]="cartAmounts[cartItem.key]"
        >
        </p-inputNumber>
      </div>
    </div>
    <p-button
      class="bottom-0 left-100 sticky"
      pRipple
      styleClass="p-button-md p-button-rounded  p-button-raised"
      label="Submit"
      (click)="place()"
    ></p-button>
  </ng-container>
  <ng-template #empty> empty </ng-template>
</p-dialog>
