<ng-container *ngIf="auth$ | async as user">
  <ng-container *ngIf="marketplaceMap$ | async as marketplaceEvents">
    <p class="mt-1"></p>
    <p-accordion *ngIf="marketplaceEvents">
      <p-accordionTab
        [header]="sport.key"
        *ngFor="let sport of marketplaceEvents | keyvalue"
      >
        <div class="flex flex-column">
          <div
            class="flex flex-column flex-1 justify-content-center"
            *ngFor="let league of sport.value | keyvalue"
          >
            <div class="flex-1 text-center">
              {{ league.key }}
            </div>
            <div *ngFor="let event of league.value" class="flex-1 flex-column">
              <app-event [event]="event"></app-event>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </ng-container>
</ng-container>
